body {
    background-color:  #b3d9ff; 
}

#title {
    font-family: 'Chilanka', cursive;
}

#yoda {
    border: 10px lightgoldenrodyellow solid;
}

button:hover {
    color: lightgoldenrodyellow;
}

#rightside {
    border: 10px lightgoldenrodyellow solid;
}

#leftside {
    border: 10px lightgoldenrodyellow solid;
    font-size: 30px;
}

section {
    height: 75vh;
}
img {
    width: 400px;
    height: auto;
}
#trivia {
    font-size: 34px
}
#title {
    font-size: 50px;
    text-decoration: underline;

}
#answers {
    font-size: 26px;
    color: blue;
}
.options:hover {
    color: green;
    font-size: 30px;
    font-weight: bold
}
#pics {
    font-size: 26px;
    color: blue;
}
#start {
    font-size: 24px
}
#retry {
    font-size: 24px
}